.canvas{
    min-width: 768px;
    min-height: 768px;
    border: 1px solid black;
}
canvas{
    width: 768px;
    height: 768px;
    
}
.canvas__tools{
    width: 400px;
}
.canvas__pallete{
    width: 768px;
    height: 768px;
}